{{!--<div class="col p-4 d-flex flex-column position-static">
  <a href="/user/view/{{this.owner}}">
    <h3 class="mb-0">{{this.creator}}</h3>
  </a>
  <a href="/post/view/{{this.id}}">
    <img src="{{this.image}}" style="height:50vh;" />
  </a>
  <p class="card-text mb-auto">{{this.content}}</p>

  {{!-- Word of Caution
   Do not change onclick, class and id attribute
   Do not change the order of child tree i.e. order should be same as button -> text(':')->p-4
   tags may be changes but should reflext accordingly in likes.js

  <div>
    <button type="submit"  class="like" id="{{this.id}}" onclick="hitlike(this)" >Like</button>
    :
    <p>{{this.likesCount}}</p>

  </div>

  <div>Comments {{this.commentCount}}
  </div>

  <div>Created At {{this.createdAt}}
  </div>
</div>
--}}
  {{#if isMine}}
<div>
    <form action="/post/edit/{{this.id}}" method="post">
    <button type="submit">Edit post</button>
    </form>

    <form action="/post/delete/{{this.id}}?_method=DELETE" method="post" onsubmit="return confirm('Are You Sure you want to delete this Post. Action cannot be reverted')">
    <button type="submit">Delete post</button>
    </form>
    </div>
    {{/if}}
                <div class="col post-feed-item">
                    <div class="card">
                        <div class="card-image">
                            <figure class="image is-4by3">
                                <a>
                                    <img src="{{this.image}}" class="card-img-top" alt="{{this.content}}"style="height:50vh;width:auto;">
                                </a>
                            </figure>
                        </div>
                        <div class="card-body">
                            <div class="media">
                                <div class="media-left">
                                    <div class="post-avatar" onclick="window.location.href='/user/view/{{this.owner}}'">
                                    </div>
                                </div>
                                <div class="media-content">
                                   <a href="/user/view/{{this.owner}}"> <span>{{this.creator}}</span> </a>
                                    <span class="created-date">{{this.createdAt}}</span>
                                </div>
                                <div class="media-right">
                                    <span>{{this.likesCount}}</span>
                                    <button class="button like-button like" id="{{this.id}}" onclick="hitlike(this)">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                                            viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2"
                                            stroke-linecap="round" stroke-linejoin="round"
                                            class="feather feather-heart">
                                            <path
                                                d="M20.84 4.61a5.5 5.5 0 0 0-7.78 0L12 5.67l-1.06-1.06a5.5 5.5 0 0 0-7.78 7.78l1.06 1.06L12 21.23l7.78-7.78 1.06-1.06a5.5 5.5 0 0 0 0-7.78z">
                                            </path>
                                        </svg>
                                    </button>
                                    <button class="button comment-button"
                                        onclick="window.location.href='/post/view/{{this.id}}'">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                                            viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2"
                                            stroke-linecap="round" stroke-linejoin="round"
                                            class="feather feather-message-circle">
                                            <path
                                                d="M21 11.5a8.38 8.38 0 0 1-.9 3.8 8.5 8.5 0 0 1-7.6 4.7 8.38 8.38 0 0 1-3.8-.9L3 21l1.9-5.7a8.38 8.38 0 0 1-.9-3.8 8.5 8.5 0 0 1 4.7-7.6 8.38 8.38 0 0 1 3.8-.9h.5a8.48 8.48 0 0 1 8 8v.5z">
                                            </path>
                                        </svg>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
