  <div class="col p-4 d-flex flex-column position-static">
    <a href="/user/view/{{this.owner}}">
      <h3 class="mb-0">{{this.creator}}</h3>
    </a>
<a href="/post/view/{{this.id}}">
    <img src="data:image/png;charset=utf-8;base64,{{this.image}}" >
    <p class="card-text mb-auto">{{this.content}}</p>
</a>
  </div>